#root{
    text-align: center;
    background-color: #FFF4CF;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}

#header{
    text-align: center;
    background: #FFB200;
}
.heading-table-data{
    text-align: left;
}
h1{
    line-height: 1.5;
}
h3 a{
  text-decoration: none;
  color: #333;
  background: #277BC0;
  padding: 20px;
  display: inline-block;
  margin: 20px;
  border: solid #FFB200 2px;
  border-radius: 24px;
  background-image: -webkit-linear-gradient(top, #277BC0, #91d6de);

}
h3 a:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.rgipt-logo{
    width: 50%;
    margin: 20px 0px;
}
hr{
    margin: 0;
}
#year-page{
    padding: 20px 0px;

}
.selector-buttons{
   margin: 20px 0px;
}
#footer{
  border: 2px solid #FFB200;
  padding: 0px;
  margin-top: auto;
}


  .selectors-button{
    margin: 20px 0px ;
    
  }
  .button{
    margin: 10px 0px;
  }
  .books-table{
    width: 50%;
    align-self: center;
    margin: 0% 25%;
  }
  .books-table thead,
  tfoot {
      background-color: #333;
      color: #fff;
  }
  .books-table td {
    border: 1px solid #333;
}